.search {
  background: #e93323;
  padding: 10px 10px;
}
.search .search_con {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  padding-left: 14px;
}
.search .search_con input {
  height: 30px;
  border: none;
  outline: none;
  margin-left: 8px;
}
