.somelist {
  min-height: 100vh;
}
.somelist .rv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  width: 95%;
}
.somelist .rv-list .some_item {
  border-radius: 1.333vw;
  margin-bottom: 2.667vw;
  margin-top: 1.333vw;
  width: 48%;
}
.rv-list__loadmore {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left,
.right {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.left .item,
.right .item {
  padding-bottom: 5px;
}
